
.idea/illustris_sam.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/__init__.cpython-38.pyc
__pycache__/groupcat.cpython-38.pyc
__pycache__/merger.cpython-38.pyc
